.dashboard-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Segoe UI', sans-serif;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logout-btn {
    background-color: #1585d5;
    color: white;
    margin-right: -48px;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}
.logout-btn:hover {
    background-color: #14689c;
}

.admin-btn {
    background-color: #a5a4a4;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}
.admin-btn:hover {
    background-color: #979696;
}

.task-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* TaskForm */
.task-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.task-form input,
.task-form textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}
.task-form textarea {
    resize: vertical;
    min-height: 60px;
}
.task-form button {
    width: 170px;
    padding: 8px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-content: center;
}
.task-form button:hover {
    background-color: #45a049;
}

/* TaskList */
.task-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.task-item {
    padding: 15px;
    border-radius: 8px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.task-item.done {
    background-color: #d4edda;
    opacity: 0.7;
    pointer-events: none;
}

.task-item.done .task-actions button {
    cursor: not-allowed;         /* показываем, что кнопки недоступны */
    opacity: 0.5;
}

.task-item.done .edit-btn {
    pointer-events: none;
    opacity: 0.5;
}

.task-item.done .delete-btn {
    pointer-events: auto;
    opacity: 1;
}

.task-item.pending {
    background-color: #fff3cd;
}

.task-main h3 {
    margin: 0 0 5px 0;
}

.task-meta {
    font-size: 0.85rem;
    color: #555;
}

.task-actions {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.task-item.overdue {
    border-left: 4px solid red;
    background-color: #ffe6e6;
}

.time-left {
    font-weight: bold;
    color: green;
}

.time-left.overdue-label {
    color: red;
}

.progress-bar-container {
    width: 100%;
    height: 6px;
    background-color: #eee;
    border-radius: 3px;
    margin: 6px 0 12px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    transition: width 0.5s ease, background-color 0.5s ease;
}

.progress-bar.overdue {
    background-color: red !important;
}

.time-left.overdue-label {
    color: red;
    font-weight: bold;
}

.progress-bar.urgent {
    animation: blink 1s infinite;
    background: linear-gradient(to right, orange, red);
}

@keyframes blink {
    0%, 50%, 100% { opacity: 1; }
    25%, 75% { opacity: 0.2; }
}

.time-left.urgent-label {
    color: orange;
    font-weight: bold;
    animation: blink 1s infinite;
}

.status-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: #0c6ccc;
    margin-left: 10px;

}
.status-btn.done {
    background-color: #15a61e;
    color: white;
    margin-left: 10px;
}
.status-btn.back {
    background-color: #eab939;
    color: white;
    margin-left: 10px;
}

.status-btn.pending {
    background-color: #ff9800;
    color: white;
}
.delete-btn {
    background-color: #ea3b2e;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.edit-btn {
    background-color: #716e6e;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.dashboard-layout {
    display: flex;
}

.search-row {
    margin-bottom: 15px;
}

.search-input {
    width: 100%;
    padding: 10px 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
}

.filters-row {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
    flex-wrap: wrap; /* Чтобы не ломалось на маленьких экранах */
}

/* Выпадающие списки */
.filter-select {
    padding: 7px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    background: white;
}

/* Даты в одной строке с подписью */
.filter-group-inline {
    display: flex;
    flex-direction: column;
}

.filter-group-inline label {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 4px;
    color: #555;
}

.filter-date {
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal-window {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 280px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.modal-actions {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.confirm-btn {
    background-color: #61aa64;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-btn {
    background-color: #dc625a;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.status-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

