.sidebar {
    width: 240px;
    padding: 20px;
    background: #1f1f1f;
    color: #fff;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
}


.sidebar-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.sidebar-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-link {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 8px;
    color: #ddd;
    text-decoration: none;
    border-radius: 6px;
}

.sidebar-link:hover {
    background: #1a2259;
    color: #fff;
}

.sidebar-link.active {
    background: #4a66f7;
    color: #fff;
}

.icon {
    font-size: 20px;
}


.sidebar-nav a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    gap: 8px;
}
