.task-form {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px 25px;

    background: #ffffff;
    border-radius: 16px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.08);

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-title {
    text-align: center;
    margin-top: 0;
    color: #333;
    font-size: 20px;
    font-weight: 600;
}

.form-block {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.input {
    width: 97%;

    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
    background: #fafafa;
    font-size: 14px;
    transition: 0.25s;
}

.input:focus {
    border-color: #0077ff;
    background: #fff;
    box-shadow: 0 0 0 3px rgba(0,119,255,0.15);
}

.textarea {
    min-height: 80px;
    resize: vertical;
}

.time-block {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.time-item {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 14px;
}

.btn-submit {
    padding: 12px;
    border: none;
    border-radius: 12px;
    background: #0077ff;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.25s;
}

.btn-submit:hover {
    background: #005fcc;
}
